/* Markus Falk, Version: 0.0.1 */
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,700,400);
/* line 4, ../scss/main.scss */
html,
body {
  background: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* line 11, ../scss/main.scss */
.main {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* line 15, ../scss/main.scss */
.section {
  overflow: auto;
}
/* line 18, ../scss/main.scss */
.section:nth-child(2n+1) {
  background-color: #efefef;
}

@media screen and (min-width: 1024px) {
  /* line 24, ../scss/main.scss */
  .inner {
    margin: 0 auto;
    width: 980px;
  }

  /* line 28, ../scss/main.scss */
  .section {
    padding: 20px 20px 60px 20px;
  }
}
/* line 33, ../scss/main.scss */
.section-main {
  background: #04a9f8;
  background: -moz-linear-gradient(top, #04a9f8 0%, #77d2fe 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #04a9f8), color-stop(100%, #77d2fe));
  background: -webkit-linear-gradient(top, #04a9f8 0%, #77d2fe 100%);
  background: -o-linear-gradient(top, #04a9f8 0%, #77d2fe 100%);
  background: -ms-linear-gradient(top, #04a9f8 0%, #77d2fe 100%);
  background: linear-gradient(to bottom, #04a9f8 0%, #77d2fe 100%);
}

/* line 45, ../scss/main.scss */
.iframe {
  -moz-transform: scale(0.25);
  -ms-transform: scale(0.25);
  -o-transform: scale(0.25);
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  height: 768px;
  left: -388px;
  overflow: hidden;
  position: absolute;
  top: -250px;
  width: 1024px;
}

@media screen and (max-width: 1023px) {
  /* line 60, ../scss/main.scss */
  .iframe {
    left: 50%;
    margin-left: -512px;
    top: 40px;
    -webkit-transform-origin-y: 0;
    -moz-transform-origin-y: 0;
    -ms-transform-origin-y: 0;
    transform-origin-y: 0;
  }
}
/* line 72, ../scss/main.scss */
.list-older,
.list-current {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  /* line 80, ../scss/main.scss */
  .list-current li {
    float: left;
  }
  /* line 84, ../scss/main.scss */
  .list-current li:active, .list-current li:hover, .list-current li:focus {
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  /* line 94, ../scss/main.scss */
  .list-older {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-width: 250px;
    -webkit-column-width: 250px;
    column-width: 250px;
  }
}
/* line 108, ../scss/main.scss */
.list-current li {
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 5px solid #fff;
  height: 230px;
  list-style: none;
  margin: 25px;
  position: relative;
  width: 250px;
}
/* line 124, ../scss/main.scss */
.list-current a:link,
.list-current a:visited {
  color: #01567F;
  display: block;
  font-size: 1.6em;
  height: 210px;
  padding: 0 10px 10px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}
/* line 138, ../scss/main.scss */
.list-current a:active,
.list-current a:hover,
.list-current a:focus {
  color: #FF8900;
}

@media screen and (max-width: 1023px) {
  /* line 144, ../scss/main.scss */
  .list-current {
    margin: 0 auto;
    width: 90%;
  }
  /* line 148, ../scss/main.scss */
  .list-current li {
    margin: 25px 0;
    overflow: hidden;
    padding-top: 40px;
  }
  /* line 155, ../scss/main.scss */
  .list-current a:link,
  .list-current a:visited {
    margin: 0;
    margin-top: -40px;
    box-sizing: border-box;
    font-size: 1.6em;
    padding: 0;
  }
}
/* line 168, ../scss/main.scss */
.list-older li {
  display: block;
  line-height: 2;
  font-size: 1.4em;
}
/* line 175, ../scss/main.scss */
.list-older a:link,
.list-older a:visited {
  color: #01567F;
  text-decoration: none;
}
/* line 182, ../scss/main.scss */
.list-older a:active,
.list-older a:hover,
.list-older a:focus {
  color: #FF8900;
}

@media screen and (max-width: 1023px) {
  /* line 188, ../scss/main.scss */
  .list-older {
    padding: 10px;
  }
  /* line 191, ../scss/main.scss */
  .list-older li {
    margin-bottom: 15px;
  }
  /* line 195, ../scss/main.scss */
  .list-older a {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #ccc;
    display: block;
    padding: 10px;
  }
}
/* line 205, ../scss/main.scss */
.heading {
  font-weight: normal;
  margin: 0 0 25px 0;
  text-align: center;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1023px) {
  /* line 213, ../scss/main.scss */
  .heading {
    margin: 20px 0 10px 0;
  }
}
/* line 218, ../scss/main.scss */
.style1 {
  font-size: 3em;
  color: #fff;
}

@media screen and (max-width: 1023px) {
  /* line 224, ../scss/main.scss */
  .style1 {
    font-size: 1.8em;
  }
}
/* line 229, ../scss/main.scss */
.style2 {
  font-size: 2em;
  color: #01567F;
}

@media screen and (max-width: 1023px) {
  /* line 235, ../scss/main.scss */
  .style2 {
    font-size: 1.4em;
  }
}
